nav {
	background-color: rgba(55, 55, 255, 1);
}

@media only screen and (min-width: 993px) {
nav .brand-logo {
	left: calc(50% - 55.5px);
}
}

#bgcrowd {
	background-image: url("../img/crowdparty.jpg");
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.crowd-inner {
	width: 50%;
	margin: auto;
	height: 50%;
	line-height:250px;
	text-align: center;
}

.side-nav {
	width: 100px;
}

i.medium {
	font-size: 3rem;
}

/* Side-Nav Styles */

.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav-icon {
	text-align: center;
	/*flex-basis: auto;*/
}

/* Playbar Styles */

.playbar {
	position: fixed;
	bottom: 0;
}

.play-info {
	/* text-align: center; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.progress {
	margin-top: 30px;
}

.play-vote {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tabs-subset {
	
	background-color: rgba(55, 55, 255, 1);

	height: 64px;

	.tab {
		line-height: 64px;

		a, a.active, a:hover {
			color: white;
			font-size: 1.5rem;
		}
	}

	.indicator {
		/*color: rgba(55, 55, 255, 1);*/
		/*background-color: rgba(55, 55, 255, 1);*/
		background-color: white;
	}
}

.queueitem {

	.row {

		margin-bottom: 0px;

		.queue-picture {
			padding: 0.75rem; 
		}
	}

	border-bottom: 1px solid #AAAAAA;
}

#queuelist {
	background-color: rgb(230,230,230);
	box-shadow: 0px 2px 2px #888888;
	height: 75vh;
	overflow-y: auto;
}

/* Anchor tag icons in queue list item */

.thumbs {
	display: block;
	/*text-align: center;*/
}

.time {
	display: block;
	padding-top: 20px;
}

.col.s4.likes {
	padding-top: 30px;
}