<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/icon.min.css' />
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <link rel='stylesheet' href='/css/sweetalert2.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

  <!-- Initialize Facebook SDK -->
  <script src="/js/fb_sdk.js"></script>
  
  <!-- React JSX Scripts -->
  <script src="/react/main.jsx"></script>


  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <div class="row" id="maindiv">
    <!-- Play progress bar section -->
  </div>
  
  <!-- Load jQuery first -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <!-- React.js -->
  <script src="/js/react.min.js"></script>

  <!-- React-DOM -->
  <script src="/js/react-dom.min.js"></script>

  <!-- Promises, etc. -->
  <script src="/js/core.js" ></script>

  <!-- SweetAlert2 modal plugin -->
  <script src="/js/sweetalert2.min.js"></script>

  <!-- Custom jQuery scripts for this page -->
  <script src="/js/main.js"></script>

  <!-- jQuery utility functions -->
  <script src="/js/main_util.js"></script>
  </body>
</html>
