<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/icon.min.css' />
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <link rel='stylesheet' href='/css/sweetalert2.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

    <!-- Initialize Facebook SDK -->
    <script src="/js/fb_sdk.js"></script>
  
  	<div class="row" id="bgcrowd">
  	  
    </div>
    
    <nav>
    <div class="nav-wrapper bottom">
      <ul class="right" style="width: 90%">
        <li>Copyright 2017 Jesse Bartola</li>
      </ul>
    </div>
  	</nav>
  
  <!-- Load jQuery first -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <!-- React.js -->
  <script src="/js/react.min.js"></script>

  <!-- React-DOM -->
  <script src="/js/react-dom.min.js"></script>

  <!-- Promises, etc. -->
  <script src="/js/core.js" ></script>

  <!-- SweetAlert2 modal plugin -->
  <script src="/js/sweetalert2.min.js"></script>

  <!-- Custom jQuery scripts for this page -->
  <script src="/js/main.js"></script>

  <!-- jQuery utility functions -->
  <script src="/js/main_util.js"></script>
  </body>
</html>
