<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel='stylesheet' href='/css/icon.min.css' /> -->
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <link rel='stylesheet' href='/css/sweetalert2.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>

  <!-- Initialize Facebook SDK -->
  <!-- <script src="/js/fb_sdk.js"></script> -->
  
  <!-- React JSX Scripts -->
  <script src="/react/main.jsx"></script>

  <!-- Side Nav -->
  <div id="slide-out" class="side-nav">
    <div class="nav-icon">
      <a href="#" title="Create a session">
        <i class="medium material-icons">create</i>
      </a>
    </div>

    <div class="nav-icon">
      <a href="#" title="Join a session">
        <i class="medium material-icons">people</i>
      </a>
    </div>

    <div class="nav-icon">
      <a href="#" title="Leave this session">
        <i class="medium material-icons">brightness_3</i>
      </a>
    </div>

    <div class="divider"></div>

    <div class="nav-icon">
      <a href="#" title="Your profile">
        <i class="medium material-icons">person</i>
      </a>
    </div>

    <div class="nav-icon">
      <a href="#" title="Log out">
        <i class="medium material-icons">power_settings_new</i>
      </a>
    </div>
  </div>
  <!-- End Side Nav -->
  
  

  <div class="row" id="maindiv">

    <div id="queue" class="col s4">
      <div class="heading">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Up Next</a>
          </div>
        </nav>
      </div>
      <ul>
        <li>

        </li>
      </ul>
    </div>

    <div id="spotify" class="col s4">
      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>

    <div id="history" class="col s4">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#test1">Popular</a></li>
            <li class="tab col s6"><a class="active" href="#test2">Recent</a>
          </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
      </div>
    </div>




    <!-- Fixed Nav- playbar -->
    <div class="navbar-fixed playbar">
    <nav>
      <div class="nav-wrapper row">
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <div class="play-info col s2">
          <!-- Pause/Play button- delegate this functionality to react -->
          <div>
          <a href="#" title="Pause">
            <!-- Temporary Side Nav Activation Button -->
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <i class="medium material-icons">pause</i>
          </a>
          </div>
        </div>
        <div class="progress col s8">
          <div class="determinate" ></div>
        </div>

        <div class="play-vote col s2">
          <a href="#" title="Like">
            <i class="medium material-icons">thumb_up</i>
          </a>
          <a href="#" title="Dislike">
            <i class="medium material-icons">thumb_down</i>
          </a>
        </div>

      </div>
    </nav>
    </div>
  </div>
  
  <!-- Load jQuery first -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <!-- Materialize css functionality -->
  <script src="/js/materialize.min.js"></script>
  
  <!-- React.js -->
  <script src="/js/react.min.js"></script>

  <!-- React-DOM -->
  <script src="/js/react-dom.min.js"></script>

  <!-- Promises, etc. -->
  <script src="/js/core.js" ></script>

  <!-- SweetAlert2 modal plugin -->
  <script src="/js/sweetalert2.min.js"></script>

  <!-- Custom jQuery scripts for this page -->
  <script src="/js/main.js"></script>

  <!-- jQuery utility functions -->
  <!--<script src="/js/main_util.js"></script> -->
  </body>
</html>
